@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --grey-yang: #303030;
    --grey-ying: #f9f9f9;
    --light: #fff;
    --yellow-scale: #C07212; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
}
body{
    background-color: var(--grey-yang);
    overflow-x: hidden;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section{
    width: 100vw;
    height: 100vh;
}

.none{
    display: none;
}

/* Introduction - section */
.introduction{
    background-color: var(--grey-yang);
    display: flex;
    flex-direction: column;
}
.description{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding: 108px 0 0 62px;
    gap: 20px;
    color: var(--light);
}
.description h1{
    font-size: 3.75rem;
    font-weight: bolder;
}
.description p{
    
    font-size: 1.25rem;
    font-weight: 500;
}
.informational{
    width: 100%;
    height: 30%;
    background-color: var(--grey-ying);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 62px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #000;
}
.content span{
    font-size: 2.5rem;
    font-weight: bolder;
}
.content p{
    font-size: 1.25rem;
    font-weight: 500;
}
/* History - section */
.history{
    padding: 62px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
}
.resume{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 6px;
}
.resume h2{
    font-size: 2.5rem;
    font-weight: 500;
}
.resume p{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 30px;
}
figure{
    padding: 20px;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
figure img{
    width: 100%;
    min-width: 500px;
}
/* Contact - section */
.contact{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-yang);
    padding: 62px;
}
.wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap.title h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 48px;
    color: var(--light);
}
.wrap.fo-content{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}
.form-sheets{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height:100%;
    gap: 62px;
}
.form-sheets input{
    width: 100%;
    max-width: 508px;
    height: 72px;
    border-radius: 8px;
    border: none;
    padding: 20px;
    font-size: 1.2rem;
    outline: none;
}
.form-sheets input:focus{
    outline: solid 5px var(--yellow-scale);
}

.form-sheets input[type="text"]{
    text-transform: capitalize;
}
.form-sheets input::placeholder{
    color: #0000004D;
    font-weight: 700;
    text-transform: capitalize;
    font-family:"Raleway", sans-serif;
}
.form-sheets input[type="submit"]{
    width: 280px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family:"Raleway", sans-serif;
    color: var(--light);
    background-color: var(--yellow-scale);
    margin: 20px;
    cursor: pointer;
}
.form-sheets input[type="submit"]:hover{
    transform: translateY(-10px);
    background-color: #eda348;
    border: solid 1px var(--yellow-scale);
    box-shadow: #565656 0px 10px 15px;
    transition: .2s ease-in-out;
}

